html {
 background: url(../images/game2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.container {
 font-display: black;
}

.trivia {
background-color: rgb(103, 219, 247); opacity: 0.9;
text-align: center;
}

p {
 display: inline;
}
 
.answer { 
  color: darkblue;   
}